@model CST_323_Milestone.Models.SuperheroModel

<h4>Update Superhero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateSuperhero">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SuperheroID" class="control-label"></label>
                <input asp-for="SuperheroID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Powers" class="control-label"></label>
                <input asp-for="Powers" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PowerRating" class="control-label"></label>
                <input asp-for="PowerRating" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Alignment" class="control-label"></label>
                <input asp-for="Alignment" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}